.opacidadeEntrada{
    animation: fadein 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.opacidadeSaida{
    animation: fadeout 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes fadeout {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

.pulo{
    animation: jump 1s;
}

@keyframes jump {
    0%{
        bottom: 30%;
    }

    50%{
        bottom: 70%;
    }

    100%{
        bottom: 30%;
    }
}

@keyframes andarInimigo {
    0%{
        left: 110%;
    }

    100%{
        left: -10%;
    }
}

@keyframes movimentoChao {
    0%{
        right: -100%;
    }

    100%{
        right: 0%;
    }
}

@keyframes movimentoChaoDois {
    0%{
        right: 0%;
    }

    100%{
        right: 100%;
    }
}