@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5px;
}

body{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}

input:focus-visible{
    outline: none;
}